@model IEnumerable<SistemaInventario.Models.InvoiceDetailModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="no-print">Index</h1>

<div class="row-cols-2" id="imprimir">
    <div class="col-md-6">
        <label class="control-label no-print">Clientes</label>
        <select class="form-select no-print" onchange="unCliente()" id="listacliente">
            <option value="0">Seleccione una opción</option>
        </select>
        <button class="btn btn-primary no-print" onclick="nuevoCliente()">Nuevo Cliente</button>
        <input hidden value="0" id="nuevoCliente"/>

    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-responsive table-striped todoelancho">
            <tr>
                <td>
                    <label>Nombre del cliente</label>
                </td>
                <td>
                    <label>Dirección</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input disabled class="form-control no-print" id="nombreCliente" />
                </td>
                <td>
                    <input disabled class="form-control no-print" id="direccionCliente" />

                </td>
            </tr>
            <tr>
                <td>
                    <label>Telefono</label>
                </td>
                <td>
                    <label> Correo Electronico</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input disabled class="form-control no-print" id="telefonoCliente" />

                </td>
                <td>
                    <input disabled class="form-control no-print" id="emailCliente" />
                </td>
        </table>
        <button id="cancelar" onclick="limpiarCampos()" class="btn-danger no-print">Cancelar</button>
        <button onclick="listaProductos()" class="btn-primary no-print" data-bs-toggle="modal" data-bs-target="#modalProducto">Agregar Productos</button>
        <button onclick="guardarFactura()" class="btn btn-success no-print">Guardar Factura</button>
        <button onclick="imprimirFactura()" class="btn btn-primary no-print no-print">Imprimir Factura</button>

        <div class="col-md-12">
        <table class="table table-responsive table-bordered table-striped todoelancho">
            <thead>
            <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Nombre Producto
                        </th>
                        <th>
                            Precio Unitario
                        </th>
                        <th>
                            Total
                        </th>

            </tr>
            </thead>
            <tbody id="listaProductosFactura">
            </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end">Subtotal:</td>
                        <td id="subtotal">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end">Descuento:</td>
                        <td>
                            <input id="descuentoId" onfocusouy="actualizarTotal()" class="form-control" type="number"
                                   placeholder="5%" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end">Descuento:</td>
                        <td id="descuento">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end">IVA 15%:</td>
                        <td id="iva">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end">Total a Pagar:</td>
                        <td id="total">0.00</td>
                    </tr>
                </tfoot>
        </table>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Nombre del Producto
            </th>
            <th>
                Numero de Factura
            </th>
            <th>
                Fecha de fabricación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductModel.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceModel.NumeroFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockModel.FechaFabricacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista de Productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class=" modal-body">
                <div class="mb-3">
                    <table class="table table-bordered">
                        <tr>
                            <td>Buscador</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" value="" id="buscador" />
                                <button class="btn btn-primary" onclick="buscarProducto()">Buscar</button>
                            </td>
                        </tr>
                       <tr>
                           <table class="table table-bordered table-responsive table-striped">
                               <thead>
                                   <tr>
                                       <td>#</td>
                                        <td>Nombre del Producto</td>
                                        <td>Cantidad</td>
                                        <td>Valor</td>
                                   </tr>
                               </thead>
                                <tbody id="listaProductos">
                                </tbody>
                           </table>
                       </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_agregar" class="btn btn-primary">Agregar Producto</button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
